.main-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 90%;
}

.main-list {
  .w-100 {
    float: none;
    width: 100%;
    margin-bottom: 12px;
  }
}


.container {
  max-width: 1170px;
  width: 90%;
  margin: auto;
}

.title-form {
  font-size: 24px;
  text-align: center;
}

.btn-wrap {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 32px;

  a {
    margin-left: 16px;
  }
}

.table-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d0c0c0;
  padding: 10px 0px;

  &.12-table {
    background: grey;
    color: white;
  }

  .row {
    margin: 0;
  }
}

.form-wrap {
  li{
    margin-bottom: 16px;
  }
}