header {
    width: 100%;
    height: 100vh;
    background: url(../img/MainPhoto.jpg) no-repeat fixed;
    background-size: 100% 100%;

    .nav {
        position: fixed;
        width: inherit;
        background-color: white;
        height: 70px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 5px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 10;

    }

    .nav-list {
        display: flex;
        justify-content: space-around;
        font-size: 19px;
        align-items: center;
        width: 60%;
        margin: auto;


        .nav-link {
            color: #a2a2a2;
            &:hover {
                color: #173661;
            }

            &.active-tab {
                font-weight: bold;
                color: #173661;
            }
        }
    }

    .logo {
        width: 110px;
        height: 60px;
        background-image: url(../img/logo.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 3%;
        margin-left: 3%;
    }
}
#logocenter{
    position: absolute;
    left: 33%;
    top: 22%;
}

