.popup-wrap {
  position: fixed;
  top: -100%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: .25s linear all;

  &.visible {
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .popup-content {
    position: absolute;
    width: 56%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    margin-top: 30px;
  }

  .close {
    position: absolute;
    border: none;
    outline: none;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
    background-color: #f5f5f5;
    background-image: url(../img/close.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 50;
  }

}

.padding-rule {
  padding: 50px 69px;
}

.content-wrap {


  .table-head {
    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
    padding-bottom: 0;

    .col {
      &:first-child {
        margin-right: 59px;
      }

      &:nth-child(2) {
        margin-right: 40px;
      }
    }
  }

  .grey-text {
    color: #7d7d7d;
    font-family: "Proxima Nova";
    font-size: 29px;
    font-weight: bold;
  }

  .blue-text {
    color: #173661;
    font-family: "Proxima Nova - Semibold";
    font-size: 21px;
  }

  .light-grey-text {
    color: #7d7d7d;
    font-family: "Proxima Nova";
    font-size: 21px;
    text-decoration: underline;
  }

  .under-head-row {
    display: flex;
    background: #f5f5f5;
    padding-top: 19px;
    padding-bottom: 19px;
    align-items: center;

    .col {
      width: 33%;
      color: #959595;
      font-family: "Proxima Nova";
      font-size: 17px;
      font-weight: 400;
    }
  }

  .row-wrap {
    padding-left: 69px;
    padding-right: 69px;
    max-height: 50vh;
    overflow-y: auto;

    .row-item {
      display: flex;
      padding: 36px 0;
      border-bottom: 1px solid #ebebeb;

      .col {
        width: 33%;
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 17px;

        &:first-child {
          font-weight: bold;
        }
      }
    }
  }
}


.about-wrapper {
  .padding-rule {
    padding-bottom: 0;
    margin-bottom: 34px;
    color: #7d7d7d;
    font-family: "Proxima Nova";
    font-size: 29px;
    font-weight: bold;
  }
}