@import "~slick-carousel/slick/slick";


.slick-arrow{
  z-index: 555555555555555;
}

.slider-wrapper-content {
  &.hidden {
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
  }
}

.slider-wrapper {
  height: 70vh;
  position: relative;
  z-index: 5;

  &:after {
    //content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: red;
    opacity: .2;
    z-index: -2;
  }

  .slick-arrow.slick-hidden {
    display: flex;
  }

  .center {
    //height: 500px;

    .slick-slide:not(.slick-center) {
      opacity: 0.5;
      transition: 0.25s ease opacity;
    }


  }

  .slider-text {
    position: absolute;
    bottom: 10%;
    left: -10%;
    text-align: left;
  }

  .count-room-wrap {
    display: flex;
    padding: 50px 69px;
    box-sizing: border-box;

    .count-room-item {
      margin-right: 129px;
      cursor: pointer;

      &:last-of-type {
        margin-right: 0;
      }

      p {
        color: #959595;
        font-family: "Proxima Nova - Semibold";
        font-size: 30px;
        font-weight: 400;

        &.active-flat {
          color: black;
        }
      }
    }
  }

  .control-btn {
    position: absolute;
    top: 50%;
    width: 39px;
    height: 179px;
    background: transparent;
    border: none;
    outline: none;
    background-image: url('../img/slide-btn.svg');
    background-position: left;
    background-size: contain;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: .5;

    &.btn-prev {
      left: 20%;
    }

    &.btn-next {
      right: 20%;
      transform: rotate(180deg) translate(-50%, 50%);
    }
  }

  .center-item {
    position: relative;
    text-align: center;

    img {
      width: 250px;
    }
  }


}


.slider-popup {
  width: 86%;
  margin: auto;

  .popup-content {
    width: 100%;
  }

  .type-flat-wrap {
    padding: 28px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;

    p {
      color: #898989;
      font-family: "Proxima Nova";
      font-size: 21px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: #173661;
      }

      &.active {
        color: #173661;
      }
    }
  }
}