* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto' , sans-serif;
}

a,
ul,
li {
  text-decoration: none;
  display: block;
  color: black;
}

li {
  list-style-type: none;
}

.container {
  width: 86%;
  margin: auto;
  z-index: 2;
  height: 90vh;
}