@import 'base';
@import "fonts";
@import 'partials/header';
@import 'partials/popup';
@import 'partials/slider';

* {
    margin: 0;
    padding: 0;
}

a,
ul,
li {
    text-decoration: none;
    display: block;
    color: black;
}

li {
    list-style-type: none;
}



.container {
    width: 86%;
    margin-left: 7%;

    z-index: 2;
    height: 90vh;
}

.nav {
    position: fixed;
    width: inherit;
    background-color: white;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;

}

ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    width: 100%;
    font-size: 19px;
    font-family: "Proxima Nova - Semibold";

}

.nav-link {
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 19px;
    font-weight: 300;

}

.a_nav {
    font-size: 19px;
}

.a_nav1:hover {
    color: #173661;
    font-weight: 800;
    margin-left: -12px;
}

.a_nav:hover {
    color: #173661;
    font-weight: 800;
    margin-left: -15px;
}

.a_nav2:hover {
    color: #173661;
    font-weight: 800;
    margin-left: -4px;
}

.a_nav3:hover {
    color: #173661;
    font-weight: 800;
    margin-left: -3px;
}

.a_nav4:hover {
    color: #173661;
    font-weight: 800;
    margin-left: -9px;
}



.action {
    margin-right: 2%;
    margin-left: auto;
    padding: 17px 40px;
    font-size: 21px;
    font-weight: 900;
    background-color: red;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
}

.heder__contacts__block {
    position: absolute;
    bottom: 6vh;
    margin-left: 3.2%;
    color: white;

}

.heder__contacts__block p {

    margin-top: 15px;
}

.coll span {
    font-weight: 300;
    font-size: 33px;
}

.coll {
    font-size: 33px;
    font-weight: 900;
}

.coll__street span {
    font-size: 21px;
    font-weight: 300;
}

.coll__street {
    font-size: 21px;
    font-weight: 900;
}

.coll__mail {
    font-family: "Proxima Nova";
    font-size: 21px;
    font-weight: 300;
}

#collUs {
    position: fixed;
    bottom: 5vh;
    right: 5%;
    z-index: 100;

}

.lun {
    width: 86%;
    margin-left: 7%;
    height: 86vh;
    margin-top: 90px;
    margin-bottom: 10px;

    background-color: blue;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.block {

    position: relative;
    //width: 56%;
    padding: 20px 30px;
    background-color: white;
    //margin-left: 22%;
    //margin-top: 100px;
}


.aboutUs_content {
    padding-bottom: 50px;
    padding-left: 69px;
    padding-right: 69px;
    font-family: "Proxima Nova";
    font-size: 17px;
    font-weight: 300;
    line-height: 33.33px;
    max-height: 50vh;
    overflow-y: auto;
}

.contacts-wrapper {
    .up-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 69px;
        padding-bottom: 32px;

        .left-col {
            width: 50%;

            h3 {
                color: #7d7d7d;
                font-family: "Proxima Nova", sans-serif;
                font-size: 29px;
                font-weight: bold;
                margin-bottom: 53px;
            }

            .phone {
                color: #000000;
                font-family: "Proxima Nova", sans-serif;
                font-size: 33px;
                margin-bottom: 29px;
            }

            .address {
                font-family: "Proxima Nova", sans-serif;
                font-size: 21px;
                margin-bottom: 20px;
            }

            .mail {
                font-family: "Proxima Nova", sans-serif;
                font-size: 21px;
            }


        }


        .right-col {
            width: 50%;

            img {
                max-width: 248px;
                width: 100%;
            }
        }
    }
}

.contacts__adress {
    color: black;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    margin-bottom: 40px;

}

.contacts__adress p {
    margin-top: 10px;
}

.location {

    width: 100%;
    height: 250px;
    background-color: #bdc4cb;

}

@media only screen and (max-width:1100px) {
    .logo {
        margin-right: 0%;
    }


    12 .nav-list {
        margin: 0;
    }

    .count-room-wrap {
        justify-content: space-between;
    }

    .count-room-item {
        margin-right: 0px;
    }
}
